@import url('https://fonts.loli.net/css2?family=Noto+Sans+SC&display=swap');
@import url('https://fonts.loli.net/css2?family=Quicksand:wght@400;600;700&display=swap');
@import 'tailwindcss';
@import 'fumadocs-ui/css/ocean.css';
@import 'fumadocs-ui/css/preset.css';
@import './css/code.css'; 
@import './css/toc.css'; 
@import './css/font.css';




